<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "https://ga.jspm.io/npm:prosemirror-menu@1.2.4/style/menu.css", "https://ga.jspm.io/npm:prosemirror-view@1.32.7/style/prosemirror.css", "https://ga.jspm.io/npm:prosemirror-example-setup@1.2.2/style/style.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
